.App {
  display: grid;
  grid-template-areas: "nav main" "nav main";
  grid-template-columns: .2fr 1fr;
  min-height: 100vh;
}

.App > aside {
  grid-area: nav;
  background: #8E79AD;
  color: #4A2E73;
}

.App > main {
  grid-area: main;
  background: #ebeaec;
  color: #333333;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #E196AF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
